<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />

    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="/css/tailwind.css" />
    <link rel="stylesheet" type="text/css" href="/css/UntitledPage.css" />

    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/sticky-js@1.3.0/dist/sticky.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
  </head>

  <body class="flex-column">
    <main class="untitled-page bg-[rgb(249,250,255)] flex flex-col overflow-hidden">
      <section class="flex flex-col relative">
        <div
          class="flex flex-col bg-white rounded-lg outline outline-[rgb(190,192,191)] outline-[0.30000001192092896px] outline-offset-[-0.15000000596046448px] w-[340px] h-16 absolute left-[551px] bottom-[486px]"
        >
          <h5 class="font-normal text-base font-Inter text-[rgb(146,146,157)] tracking-[0.13px] w-28 mt-4 mb-4 ml-6">
            Phone number
          </h5>
        </div>
        <div
          class="flex flex-col bg-white rounded-lg outline outline-[rgb(190,192,191)] outline-[0.30000001192092896px] outline-offset-[-0.15000000596046448px] w-[340px] h-16 absolute left-[551px] bottom-[566px]"
        >
          <h5
            class="font-normal text-base font-Inter text-[rgb(146,146,157)] tracking-[0.13px] w-[73px] mt-4 mb-4 ml-6"
          >
            Full name
          </h5>
        </div>
        <div
          class="flex flex-col bg-white rounded-lg w-[350px] h-[104px] shadow-[0px_30px_116px_-16px_rgba(211,211,211,0.2)] absolute left-[147px] bottom-[518px]"
        >
          <div class="flex items-center gap-x-[18px] m-6">
            <img class="w-16 h-16" src="/assets/phone_icon.png" alt="alt text" />
            <div class="w-[149px] flex flex-col items-center gap-y-4">
              <h5
                class="font-normal text-[16px] leading-[0.87] font-Inter text-[rgb(146,146,157)] tracking-[0.13px] w-full"
              >
                Call me
              </h5>
              <h5 class="font-medium text-[16px] leading-[1.12] font-Inter text-[rgb(17,20,45)] tracking-[0.08px]">
                +6285887389898
              </h5>
            </div>
          </div>
        </div>
        <img
          class="w-[983px] h-[547px] absolute left-[417px] top-[2364px]"
          src="/assets/website_design_templates.png"
          alt="alt text"
        />
        <div class="w-[337px] h-[324px] flex flex-col gap-y-[46px] absolute left-[50px] top-[2422px]">
          <div class="flex flex-col items-center gap-y-3">
            <h1 class="w-[97.33%]">
              <span class="font-semibold text-[40px] leading-[1.35] font-Inter text-black"
                ><span class="font-semibold text-[rgb(11,12,11)] tracking-[-1.2px]">My Creative Works<br /></span
                ><span class="font-semibold text-[rgb(11,12,11)]">Latest </span
                ><span class="font-semibold text-[rgb(253,196,53)]">Projects</span></span
              >
            </h1>
            <h5 class="font-normal text-base font-Inter text-[rgb(50,52,51)] w-[98.52%]">
              I have selected and mentioned here some of my latest projects to share with you.
            </h5>
          </div>
          <div class="flex flex-col bg-[rgb(253,196,53)] rounded-xl w-[131px] ml-[13px]">
            <h5
              class="flex items-center justify-center font-medium text-base font-Inter text-[rgb(37,40,43)] text-center mt-1 mr-[25px] mb-1 ml-6"
            >
              Show More
            </h5>
          </div>
        </div>
        <div class="w-[1361px] h-[415px] flex flex-col items-center gap-y-[22px] absolute left-[39px] top-[1848px]">
          <h2 class="w-[91.48%]">
            <span class="font-semibold text-[24px] leading-[1.16] font-Roboto text-black"
              ><span class="font-semibold text-[rgb(253,196,53)]">Reviews</span><span class="font-semibold"> </span
            ></span>
          </h2>
          <img class="w-full" src="/assets/testimonial_section_mockup.png" alt="alt text" />
        </div>
        <div class="flex flex-col w-[1304px] h-7 absolute left-[82px] top-[1440px]">
          <h2 class="w-[1304px] h-7 absolute left-0 top-0">
            <span class="font-semibold text-[24px] leading-[1.16] font-Roboto text-black"
              ><span class="font-semibold text-[rgb(253,196,53)]">My Skills</span><span class="font-semibold"> </span
            ></span>
          </h2>
          <h2 class="w-[1304px] h-7 absolute left-0 top-0">
            <span class="font-semibold text-[24px] leading-[1.16] font-Roboto text-black"
              ><span class="font-semibold text-[rgb(253,196,53)]">My Skills</span><span class="font-semibold"> </span
            ></span>
          </h2>
        </div>
        <div class="w-[334px] h-[114px] flex flex-col items-center gap-y-[26px] absolute left-[639px] top-[1661px]">
          <h2 class="medium_title1 font-semibold text-[24px] leading-[1.16] font-Roboto text-black w-[98.2%]">
            UX Research
          </h2>
          <h3 class="font-normal text-[20px] leading-normal font-Nunito text-[rgb(130,130,130)]">
            Create digital user product with updates trends.
          </h3>
        </div>
        <div class="w-[334px] h-[111px] flex flex-col items-center gap-y-[23px] absolute right-[154px] top-[1513px]">
          <h2 class="medium_title1 font-semibold text-[24px] leading-[1.16] font-Roboto text-black w-[91.62%]">
            Design Prototype
          </h2>
          <h3 class="font-normal text-[20px] leading-normal font-Nunito text-[rgb(130,130,130)]">
            Create advance Prototype with Figma apps.
          </h3>
        </div>
        <div class="w-[334px] h-[120px] flex flex-col items-center gap-y-8 absolute left-[639px] top-[1386px]">
          <h2
            class="medium_title1 font-semibold text-[24px] leading-[1.16] font-Roboto text-black tracking-[-0.1px] w-[95.21%]"
          >
            Visual Design
          </h2>
          <h3 class="font-normal text-[20px] leading-normal font-Nunito text-[rgb(130,130,130)]">
            Create user interface design with unique ideas.
          </h3>
        </div>
        <div class="flex flex-col w-[307px] h-[77px] absolute left-[73px] top-[1507px]">
          <h1 class="w-[307px] h-[77px] absolute left-0 top-0">
            <span class="font-bold text-[32px] leading-[1.2] font-Roboto text-black"
              ><span class="font-bold text-[rgb(37,40,43)]">Why Hire Me For Your Next </span
              ><span class="font-bold text-[rgb(253,196,53)]">Project?</span></span
            >
          </h1>
          <h1 class="w-[307px] h-[77px] absolute left-0 top-0">
            <span class="font-bold text-[32px] leading-[1.2] font-Roboto text-black"
              ><span class="font-bold text-[rgb(37,40,43)]">Why Hire Me For Your Next </span
              ><span class="font-bold text-[rgb(253,196,53)]">Project?</span></span
            >
          </h1>
        </div>
        <div class="w-[988px] h-7 flex justify-between items-center gap-x-2.5 absolute left-11 top-[1110px]">
          <h4 class="font-semibold text-lg font-Raleway text-black">Satisfied Clients</h4>
          <h4 class="font-semibold text-lg font-Raleway text-black">Project Completed</h4>
          <h4 class="flex justify-center font-semibold text-lg font-Raleway text-black text-center">Riviews Given</h4>
        </div>
        <div class="w-[951px] h-[150px] flex justify-between gap-x-2.5 absolute left-[65px] top-[963px]">
          <h1
            class="font-semibold text-[48px] leading-normal font-PlayfairDisplay text-[rgb(255,215,0)] mt-12 mb-[30px]"
          >
            69+
          </h1>
          <div class="bg-[rgb(253,196,53)] w-px min-h-[150px]"></div>
          <h1
            class="font-semibold text-[48px] leading-normal font-PlayfairDisplay text-[rgb(255,215,0)] mt-12 mb-[30px]"
          >
            140+
          </h1>
          <div class="bg-[rgb(253,196,53)] w-px min-h-[139px] mt-[11px]"></div>
          <h1
            class="font-semibold text-[48px] leading-normal font-PlayfairDisplay text-[rgb(255,215,0)] mt-12 mb-[30px]"
          >
            70+
          </h1>
        </div>
        <h5
          class="flex justify-end font-normal text-[16px] leading-[1.37] font-Nunito text-[rgb(130,130,130)] text-right w-[1174px] h-[22px] absolute left-[147px] top-[731px]"
        >
          Contact me
        </h5>
        <img class="w-48 h-12 absolute right-[96px] top-[651px]" src="/assets/social_media_icons.png" alt="alt text" />
        <div
          class="flex flex-col rounded-lg outline outline-[rgb(37,40,43)] outline-2 outline-offset-[-2px] w-[173px] h-[43px] absolute left-[188px] top-[794px]"
        >
          <h4
            class="font-medium text-[18px] leading-normal font-Roboto text-[rgb(37,40,43)] w-[125px] h-[27px] my-2 mx-6"
          >
            View Portofolio
          </h4>
        </div>
        <h3
          class="font-bold text-[20px] leading-[1.35] font-Nunito text-[rgb(253,196,53)] w-[1398px] h-[27px] absolute left-[35px] top-[190px]"
        >
          UI/UX Designer
        </h3>
        <div class="w-[486px] h-[353px] flex flex-col items-center gap-y-8 absolute left-[35px] top-[229px]">
          <h1 class="font-bold text-[64px] leading-[1.2] font-PlayfairDisplay text-[rgb(37,40,43)]">
            Hello,  my name is Hilmy Setya Rahadian
          </h1>
          <h3 class="font-semibold text-[20px] leading-normal font-Poppins text-[rgb(130,130,130)]">
            I am a designer working on UI / UX design and <br />graphic design, I have helped many companies<br />
            to design their apps and products.
          </h3>
        </div>
        <div class="flex flex-col w-[720px] h-[629px] absolute right-[-30px] top-0">
          <div class="flex flex-col w-[720px] h-[629px] absolute left-0 top-0">
            <div class="flex flex-col w-[720px] h-[629px] absolute left-0 top-0">
              <div class="flex flex-col w-[720px] h-[629px] absolute left-0 top-0">
                <div class="flex flex-col w-[720px] h-[629px] absolute left-0 top-0">
                  <div class="flex flex-col w-[720px] h-[629px] absolute left-0 top-0">
                    <img
                      class="w-[720px] h-[629px] absolute left-0 top-0"
                      src="/assets/abstract_yellow_shape.png"
                      alt="alt text"
                    />
                    <div
                      class="flex justify-end font-semibold text-[12px] leading-[6] font-Poppins text-[rgb(145,54,246)] text-right w-[1140px] h-[72px] absolute left-[-614px] top-[87px]"
                    >
                      My Skills
                    </div>
                  </div>
                  <h4
                    class="highlight1 flex justify-end font-medium text-lg font-Raleway text-[rgb(37,40,43)] text-right w-[1042px] h-7 absolute left-[-565px] top-[51px]"
                  >
                    Testimonial
                  </h4>
                </div>
                <div class="flex flex-col w-[52px] h-7 absolute left-[331px] top-[51px]">
                  <h4 class="font-medium text-lg font-Raleway text-[rgb(37,40,43)] w-[52px] h-7">About</h4>
                </div>
              </div>
              <img
                class="w-[81px] h-7 absolute left-[231px] top-[51px]"
                src="/assets/disrupted_skills_text.png"
                alt="alt text"
              />
            </div>
            <div class="flex flex-col w-[82px] h-7 absolute left-[143px] top-[51px]">
              <h4 class="font-medium text-lg font-Raleway text-[rgb(37,40,43)] w-[82px] h-7">Portofolio</h4>
            </div>
          </div>
          <img
            class="w-[308px] h-[221px] absolute left-[315px] top-[140px]"
            src="/assets/man_with_neutral_expression.png"
            alt="alt text"
          />
        </div>
        <img
          class="rounded-[21px] w-[37px] h-[42px] relative mt-12 mr-[25.75%] mb-[3826px] ml-auto"
          src="/assets/name_is_null.png"
          alt="alt text"
        /><img
          class="rounded-[72px] w-36 h-36 absolute left-10 top-[22px]"
          src="/assets/ui_design_icon.png"
          alt="alt text"
        />
        <div class="w-[509px] h-[126px] flex flex-col items-center gap-y-6 absolute left-[445px] bottom-[686px]">
          <h1 class="flex justify-center">
            <span class="font-semibold text-[40px] leading-[1.35] font-Inter text-black text-center"
              ><span class="font-semibold text-[rgb(11,12,11)]">Let’s Discuss Your </span
              ><span class="font-semibold text-[rgb(253,196,53)]">Project</span></span
            >
          </h1>
          <h5 class="flex justify-center font-normal text-base font-Inter text-[rgb(50,52,51)] text-center">
            Let’s make something new, different and more meaningful or make thing more visual or conceptual
          </h5>
        </div>
        <div class="w-[350px] h-[232px] flex flex-col items-center gap-y-6 absolute left-[147px] bottom-[262px]">
          <div class="flex flex-col bg-white rounded-lg w-full">
            <div class="flex items-center gap-x-[18px] m-6">
              <img class="w-16 h-16" src="/assets/email_icon.png" alt="alt text" />
              <div class="w-[197px] flex flex-col items-center gap-y-4">
                <h5
                  class="font-normal text-[16px] leading-[0.87] font-Inter text-[rgb(146,146,157)] tracking-[0.13px] w-full"
                >
                  Email me
                </h5>
                <h5 class="font-medium text-[16px] leading-[1.12] font-Inter text-[rgb(17,20,45)] tracking-[0.08px]">
                  azraelcreed9@gmail.com
                </h5>
              </div>
            </div>
          </div>
          <div class="flex flex-col bg-white rounded-lg w-full">
            <div class="flex items-center gap-x-[18px] m-6">
              <img class="w-16 h-16" src="/assets/location_icon.png" alt="alt text" />
              <div class="w-[221px] flex flex-col items-center gap-y-4">
                <h5
                  class="font-normal text-[16px] leading-[0.87] font-Inter text-[rgb(146,146,157)] tracking-[0.13px] w-full"
                >
                  Address
                </h5>
                <h5 class="font-medium text-[16px] leading-[1.12] font-Inter text-[rgb(17,20,45)] tracking-[-0.03px]">
                  Tasik, Jawa barat, Indonesia.
                </h5>
              </div>
            </div>
          </div>
        </div>
        <div
          class="flex flex-col bg-white rounded-lg outline outline-[rgb(190,192,191)] outline-[0.30000001192092896px] outline-offset-[-0.15000000596046448px] w-[706px] h-[170px] absolute left-[551px] bottom-[292px]"
        >
          <h5
            class="font-normal text-base font-Inter text-[rgb(146,146,157)] tracking-[0.13px] w-[70px] mt-4 mb-[130px] ml-6"
          >
            Message
          </h5>
        </div>
        <div
          class="flex flex-col bg-white rounded-lg outline outline-[rgb(190,192,191)] outline-[0.30000001192092896px] outline-offset-[-0.15000000596046448px] w-[340px] h-16 absolute left-[915px] bottom-[566px]"
        >
          <h5 class="font-normal text-base font-Inter text-[rgb(146,146,157)] tracking-[0.13px] w-24 mt-4 mb-4 ml-6">
            Your email
          </h5>
        </div>
        <div
          class="flex flex-col bg-white rounded-lg outline outline-[rgb(190,192,191)] outline-[0.30000001192092896px] outline-offset-[-0.15000000596046448px] w-[340px] h-16 absolute left-[915px] bottom-[486px]"
        >
          <h5 class="font-normal text-base font-Inter text-[rgb(146,146,157)] tracking-[0.13px] w-16 mt-4 mb-4 ml-6">
            Budget
          </h5>
        </div>
        <div class="flex flex-col bg-[rgb(253,196,53)] rounded-xl w-44 h-16 absolute right-[211px] bottom-[196px]">
          <h5
            class="flex items-center justify-center font-medium text-base font-Inter text-[rgb(37,40,43)] text-center my-4 mx-6"
          >
            Submit Message
          </h5>
        </div>
      </section>

    </main>
    <script type="text/javascript">
      AOS.init();
      new Sticky('.sticky-effect');
    </script>
  </body>
</html>
